* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f2edeb;
  font-family: "Poppins", sans-serif;
}

header {
  width: 90vw;
  margin: 0 auto;
}

header .links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .links a {
  color: #a4b895;
  margin-right: 2rem;
  font-size: 1.2rem;
  position: relative;
}

header .links a::after {
  content: "";
  height: 0.2rem;
  width: 0;
  background-color: #647064;
  position: absolute;
  left: 0;
  bottom: 0;
}

header .links a:hover::after {
  width: 100%;
  transition: width 700ms ease-in-out;
}

header .links a:hover {
  color: #647064;
}

.title {
  margin-top: 2.6rem;
}

.title h1{
  font-size: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.projects {
    width: 90vw;
    margin: 0 auto;
    margin-top: 10rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects .project-card {
    width: 20rem;
    height: 15rem;
    margin: 0 3rem;

    border: 0.1rem solid #111111;
    border-radius: 0.8rem;
}

.projects .project-card:hover {
    border: 0.1rem solid #F27777;
}

.projects .project-card .project-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.projects .project-card .project-link .image-container {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.projects .project-card .project-link .image-container img {
    width: 10rem;
    object-fit: fill;
}

.projects .project-card .project-link .infos h2{
    font-size: 2rem;
    color: #111111;
    margin-top: 0.5rem;
}