* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #111111;
  overflow: hidden;
}

*:focus {
  outline: none;
}

body {
  background-color: #f2e5d5;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  position: relative;
}

header {
  width: 80vw;
  height: 100px;

  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: self-start;

  margin-left: 50px;
}

header .logo img {
  width: 50px;
}

header .logo .title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 10px;
}

header .logo .title h2 {
  font-size: 24px;
  letter-spacing: 4px;
}

header .logo .title h3 {
  font-size: 10px;
  letter-spacing: 8px;
}

header .tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .tabs a {
  margin: 0 10px;
}

header .login-search {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 200px;
}

header .login-search .login {
  width: 90px;
  height: 20px;

  border-radius: 16px;

  background-color: #26a677;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  margin-right: 20px;
}

header .login-search .login a {
  color: white;
}

header .login-search .search .circle img {
  width: 15px;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .left {
  margin-left: 50px;
  margin-top: 80px;

  display: flex;
  flex-direction: column;

  justify-items: flex-start;
}

.main .left .content {
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  margin-bottom: 50px;
}

.main .left .content h1 {
  font-size: 72px;
  font-weight: bolder;
  font-family: "Times New Roman";
}

.main .left .content h3 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 12px;
}

.main .left .options {
  display: flex;
  align-items: center;
}

.main .left .container {
  width: 80px;
  height: 140px;

  margin: 0 10px;

  border-radius: 50px;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}

.main .left .container:first-child {
  margin-left: 0;
}

.main .left .container:hover,
.main .left .container.active {
  background-color: #f2b05e;

  cursor: pointer;
}

.main .left .container .sub-container {
  width: 70px;
  height: 70px;

  margin: 5px;

  border-radius: 50%;

  background-color: #f2e5d5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main .left .container .sub-container.active {
  background-color: #ffffff;
}

.main .left .container .sub-container img {
  width: 50px;
}

.main .left .container p {
  margin-bottom: 20px;

  font-weight: bold;
}

.main .left .zip-code {
  margin-top: 30px;
}

.main .left .zip-code .input {
  width: 300px;
  height: 50px;

  border-radius: 50px;

  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.main .left .zip-code .input input {
  margin-left: 15px;
}

.main .left .zip-code .input .input-button {
  width: 60px;
  height: 40px;

  background-color: #26a677;

  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.main .left .zip-code .input .input-button .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .left .zip-code .input .input-button .arrow img {
  width: 40%;
  height: 30%;
}

.right {
  font-size: 20rem;
  position: relative;
}

.category-image {
  width: 48rem;
  height: 41rem;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  left: 50rem;
  bottom: 11rem;
}

.category-image#show {
  visibility: visible;
  animation-name: imageIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes imageIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.category-image#showOff {
  animation-name: imageOut;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes imageOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.category-image img {
  object-fit: contain;
}

.ring {
  width: 57rem;
  height: 57rem;
  border-radius: 50%;
  background-color: #ff6767;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  left: 78rem;
  bottom: 2rem;
}

.ring .inside-circle {
  width: 80%;
  height: 80%;

  border-radius: 50%;

  background-color: #f2e5d5;
}

.main .social-medias {
  display: flex;
  align-items: center;

  position: fixed;

  bottom: 2rem;
  left: 4rem;
}

.social-medias .facebook,
.social-medias .twitter,
.social-medias .instagram {
  background-color: #ffffff;

  width: 2rem;
  height: 2rem;

  border-radius: 50%;

  margin-right: 10px;
}

.social-medias .facebook:hover,
.social-medias .twitter:hover,
.social-medias .instagram:hover {
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;

  background-color: black;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;

  cursor: pointer;
}
